@import variables

.button-link
  max-height: 42px

  font-size: 14px
  font-weight: 400
  line-height: 18px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #ffffff

  background-color: $bg-btn-green

  text-decoration: none

.button-link:hover
  background-color: #5eaa2f

.button-link:focus,
.button-link:focus:active
  color: #8fc46e
  background-color: #5eaa2f

@media (min-width: $tablet-width)
  .button-link
    font-size: 20px
    line-height: 20px
