@import variables

.catalog-list
  display: flex
  flex-direction: column
  margin: 0
  padding: 0

.catalog-list__item
  position: relative
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin: 0
  margin-bottom: 25px
  padding: 0

  list-style: none

.catalog-list__item::after
  content: " "
  position: absolute
  top: 208px
  left: -7%
  width: 114%
  height: 1px
  background-color: #d9d9d9

.catalog-wrap
  width: 50%
  margin-top: 21px

.catalog-wrap__link
  margin: 0
  padding: 0

  text-decoration: none

.catalog-wrap__title
  width: 52.9%
  margin: 0
  margin-bottom: 13px
  padding: 0

  font-size: 16px
  font-weight: 400
  line-height: 20px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #111111

.catalog-wrap__table
  width: 100%
  margin: 0
  padding: 0

  font-size: 12px
  font-weight: 400
  line-height: 16px
  font-family: Arial, sans-serif
  color: #444444

  border-spacing: 0

.catalog-wrap__table tr
  display: flex
  justify-content: space-between
  margin: 0
  padding: 0

.catalog-wrap__field,
.catalog-wrap__value
  padding: 0

.catalog-list__btn
  flex-grow: 1
  min-width: 170px
  max-width: 280px
  padding: 10px
  padding-left: 13px
  margin: 0 auto
  margin-top: -4px

  font-size: 16px
  line-height: 20px

  text-align: center

@media (min-width: $tablet-width)
  .catalog-list
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

  .catalog-list__item
    flex-direction: column
    align-items: center
    width: 45.76%
    margin-top: 77px
    margin-bottom: 64px
    padding-top: 162px
    padding-bottom: 40px

    background: #f2f2f2

  .catalog-list__item::after
    display: none

  .catalog-list__link
    position: relative

  .catalog-list__image
    position: absolute
    bottom: 38px
    left: -160px

    width: 320px
    height: auto

  .catalog-wrap
    width: 77%
    margin-top: 0
    margin-bottom: 33px

  .catalog-wrap__title
    width: 52.8%
    margin: 0 auto
    margin-bottom: 19px

    font-size: 20px

    text-align: center

  .catalog-wrap__table
    font-size: 16px

  .catalog-wrap__table tr
    border-bottom: 1px solid #d9d9d9

  .catalog-wrap__field,
  .catalog-wrap__value
    padding-top: 8px
    padding-bottom: 7px

  .catalog-list__btn
    width: 69.75%
    margin-top: 0

    font-size: 16px

@media (min-width: $desktop-width)
  .catalog-list__item
    width: 20.1%
    margin-bottom: 67px

  .catalog-list__image
    bottom: 36px
    left: -124px

    width: 246px

  .catalog-wrap
    width: 68.16%

  .catalog-wrap__title
    width: 77.84%

  .catalog-list__btn
    width: 59.8%
    min-width: 0

