.container-box__list
  margin: 0
  padding: 0


.catalog-list__item
  margin: 0
  padding: 0

  list-style: none

.catalog-wrap__link
  margin: 0
  padding: 0

  text-decoration: none

.catalog-wrap__title
  margin: 0
  padding: 0

  font-size: 16px
  font-weight: 400
  line-height: 20px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #111111

.catalog-wrap__table
  margin: 0
  padding: 0

  font-size: 12px
  font-weight: 400
  line-height: 16px
  font-family: Arial, sans-serif
  color: #444444
