@import variables

.aside-box
  margin: 0
  padding: 0

.aside-box--flex
  display: flex
  flex-direction: column

.aside-box__title
  margin: 0
  padding: 0

  font-size: 24px
  font-weight: 400
  line-height: 24px
  font-family: Oswald, Arial, sans-serif
  color: #111111

.benefits-list
  margin: 0
  padding: 0

  list-style: none

.benefits-list__item
  display: flex
  flex-direction: column

.box__item--flex
  display: flex
  flex-direction: row
  justify-content: space-between

.benefits-list__title
  margin: 0
  padding: 0

  font-size: 16px
  font-weight: 400
  line-height: 16px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #222222

.benefits-list__info,
.benefits-list__price
  margin: 0
  padding: 0

  font-size: 14px
  font-weight: 400
  line-height: 14px
  font-family: Arial, sans-serif
  color: #444444

.special-box
  height: 289px
  margin: 0
  padding: 0

  background-color: #72b649
  background-image: url("../img/gift-photo-mobile@1x.jpg")
  background-position: top
  background-repeat: no-repeat
  background-size: 280px 289px

.special-box__text
  margin: 0
  padding: 0

  font-size: 16px
  font-weight: 400
  line-height: 20px
  font-family: Arial, sans-serif
  color: #ffffff


@media (min-width: $tablet-width)
  .benefits-list__item
    flex-direction: column

  .tablet-benefits-list-flex
    display: flex
    flex-direction: row
    justify-content: space-between

  .box__item--flex
    flex-direction: row

@media (min-width: $desktop-width)
  .destop-aside-box-flex
    display: flex
    flex-direction: row
    justify-content: space-between

  .benefits-list__item
    flex-direction: row


