@import variables

.container-box__list
  display: flex
  flex-direction: column
  margin: 0
  padding: 0


.catalog-list__item
  display: flex
  flex-direction: row
  margin: 0
  padding: 0

  list-style: none

.catalog-wrap__link
  margin: 0
  padding: 0

  text-decoration: none

.catalog-wrap__title
  margin: 0
  padding: 0

  font-size: 16px
  font-weight: 400
  line-height: 20px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #111111

.catalog-wrap__table
  margin: 0
  padding: 0

  font-size: 12px
  font-weight: 400
  line-height: 16px
  font-family: Arial, sans-serif
  color: #444444

@media (min-width: $tablet-width)
  .container-box__list
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

  .catalog-list__item
    flex-direction: column
    padding-top: 70px
    padding-bottom: 70px
    min-width: 324px

@media (min-width: $desktop-width)
  .container-box__list
    flex-direction: row

  .catalog-list__item
    flex-direction: column
    padding-top: 75px
    padding-bottom: 75px
    min-width: 245px
