@import variables

.form-group__title--email
  position: relative
  margin-bottom: 34px
  margin-left: -1px

.form-group__title--email:after
  content: " "
  position: absolute
  top: 14px
  left: 72%
  width: 35.6%
  height: 3px
  background-color: $bg-btn-green

.form-group__input--email
  margin-left: 11px


