@import variables

.form-group--radio
  position: relative
  margin-bottom: 30px

.form-group--radio:before
  content: " "
  position: absolute
  top: -27px
  left: -7%
  width: 114%
  height: 1px
  background-color: #d9d9d9

.form-group--radio:after
  content: " "
  position: absolute
  top: 130px
  left: -7%
  width: 114%
  height: 1px
  background-color: #d9d9d9

.form-group__label--radio
  justify-content: left
  margin-bottom: 26px
  margin-left: 33px

.form-group__label--radio:last-child:after
  top: 45px
  left: -22%
  width: 130.2%
