@import variables

.container-form__groups
  margin: 0
  padding: 0

.form-group
  display: flex
  flex-direction: column
  margin: 0
  padding: 0

  border: none

.form-group--name
  margin-bottom: 36px

.form-group__title
  margin: 0
  padding: 0

  font-size: 24px
  font-weight: 400
  line-height: 24px
  font-family: Oswald, Arial, sans-serif
  color: #111111

.form-group--desktop
  display: flex
  flex-direction: column

.form-group__label
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0
  margin-top: -1px
  margin-bottom: 14px
  margin-left: -1px
  padding: 0

  font-size: 16px
  font-weight: 400
  line-height: 18px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #222222

.form-group__input
  flex-grow: 1
  padding-top: 12px
  padding-right: 16px
  padding-bottom: 13px
  padding-left: 15px
  margin-top: 1px
  margin-left: 15px

  font-size: 16px
  font-weight: 400
  line-height: 18px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #444444

  border: 1px solid #e7e7e7

.form-group__input::placeholder
  margin: 0
  padding: 0

  font-size: 16px
  font-weight: 400
  line-height: 18px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #444444

  opacity: 0.5

@media (min-width: $desktop-width)
  .form-group--desktop
    flex-direction: row
    justify-content: space-between
