@import variables

.container-header
  margin: 0
  padding: 0

  background: #ffffff

.container-header--flex
  display: flex
  flex-direction: column

.container-header__logo
  display: block
  margin: 0
  padding-top: 13px
  padding-bottom: 13px

.main-nav
  position: relative

  min-width: 320px
  min-height: 200px
  margin: 0

  background-color: #ffffff

.main-nav__toggle
  position: absolute
  bottom: 0
  right: -1px
  z-index: 2

  display: block
  width: 64px
  height: 64px

  background-color: #ffffff

  cursor: pointer
  border: none

.main-nav--closed .main-nav__toggle::before
  content: ""

  position: absolute
  top: 23px
  left: 20px

  width: 24px
  height: 2px

  background-color: #111111
  box-shadow: 0 8px 0 0 #111111, 0 16px 0 0 #111111

.main-nav--opened .main-nav__toggle
  top: -65px

  &::before,
  &::after
    content: ""

    position: absolute
    top: 32px
    left: 20px

    width: 25px
    height: 2px

    background-color: #111111

  &::before
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)

.main-nav__list
  display: flex
  flex-direction: column

@media (min-width: $tablet-width)
  .container-header--flex
    flex-direction: row
    justify-content: space-between

  .main-nav__toggle
    display: none

  .main-nav__list
    flex-direction: row

@media (min-width: $desktop-width)
  .container-header--flex
    flex-direction: row
    justify-content: space-between

  .main-nav__toggle
    display: none

  .main-nav__toggle
    display: none


