@import variables

.container-header
  margin: 0
  padding: 0

  background: #ffffff

.container-header--flex
  display: flex
  flex-direction: column

.container-header__logo
  padding-top: 11px
  padding-bottom: 18px

  &:hover
    opacity: 0.7

.container-header__box
  position: relative
  display: flex
  align-items: center

.container-header__box::after
  content: " "
  position: absolute
  top: 5px
  left: 0
  bottom: 0
  right: 0
  width: 101px
  height: 18px
  margin: auto

  background-image: url("../img/logo-text.svg")
  background-repeat: no-repeat
  background-position: center

.main-nav
  position: relative

  margin: 0

  background-color: #ffffff

.main-nav__toggle
  position: absolute
  bottom: 0
  right: -1px
  z-index: 2

  display: block
  width: 64px
  height: 64px
  padding: 0
  margin: 0

  background-color: #ffffff

  cursor: pointer
  border: none

.main-nav--closed .main-nav__toggle::before
  content: ""

  position: absolute
  top: 20px
  left: 20px

  width: 24px
  height: 2px

  background-color: #111111
  box-shadow: 0 8px 0 0 #111111, 0 16px 0 0 #111111

.main-nav--opened .main-nav__toggle
  top: -68px

  &::before,
  &::after
    content: ""

    position: absolute
    top: 32px
    left: 20px

    width: 25px
    height: 2px

    background-color: #111111

  &::before
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)

.main-nav--nojs .main-nav__toggle
  display: none

@media (max-width: $mobile-width-only)
  .main-nav--closed .site-list__item
    display: none

@media (min-width: $tablet-width)
  .container-header
    padding: 24px 0

  .container-header--flex
    flex-direction: row
    justify-content: space-between

  .container-header__logo
    padding: 0

  .container-header__logo-icon
    width: 173px
    height: 60px

  .container-header__box::after
    display: none

  .main-nav
    width: 61.2%

  .main-nav__toggle
    display: none

@media (min-width: $desktop-width)
  .container-header
    padding: 45px 0

  .container-header--flex
    flex-direction: row
    justify-content: space-between

  .container-header--index
    position: absolute
    top: 0
    width: 100%

    background: transparent

  .container-header__logo
    padding-top: 8px

  .container-header__logo-icon
    width: 212px

  .main-nav
    z-index: 2

    width:  49%

    background: transparent

  .main-nav__toggle
    display: none
