@import variables

.container-main
  margin: 0
  padding: 0

  overflow-x: hidden

.desktop-box-article-renge
  background-color: #f2f2f2

@media (min-width: $desktop-width)
  .desktop-box-article-renge
    display: flex
    justify-content: space-between

    background: #f2f2f2
