@import variables

.article
  margin: 0
  padding: 0

  background-color: #f2f2f2

.article--flex
  display: flex
  flex-direction: column

.article__title
  margin: 0
  padding: 0

  font-size: 36px
  font-weight: 400
  line-height: 60px
  font-family: Oswald, Arial, sans-serif
  color: #111111

.article__wrapper
  margin: 0
  padding: 0

.article__text
  margin: 0
  padding: 0

  font-size: 14px
  font-weight: 400
  line-height: 18px
  font-family: Arial, sans-serif
  color: #444444

.article__special
  display: flex
  justify-content: space-between
  margin: 0
  padding: 0

.box-cpecial
  display: flex
  flex-direction: column

  margin: 0
  padding: 0

.box-cpecial__value
  margin: 0
  padding: 0

  font-size: 24px
  font-weight: 400
  line-height: 24px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #111111

.box-cpecial__field
  margin: 0
  padding: 0

  font-size: 12px
  font-weight: 400
  line-height: 12px
  font-family: Arial, sans-serif
  color: #444444

.article__info
  margin: 0
  padding: 0

  font-size: 14px
  font-weight: 400
  line-height: 20px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #111111

@media (min-width: $tablet-width)
  .article__box--flex
    display: flex
    flex-direction: row
    justify-content: space-between

  .article__special
    justify-content: space-between
    min-width: 366px

@media (min-width: $desktop-width)
  .article--flex
    min-width: 430px

  .article__box--flex
    display: flex
    flex-direction: column



