@import variables

.map-box
  margin: 0
  padding: 0

.map-box__map
  width: 100%
  height: 367px
  background-image: url(../img/bg-map-mobile@1x.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: center 0

  @media (min-resolution: $retina-dppx)
    background-image: url(../img/bg-map-mobile@2x.png)

@media (min-width: $tablet-width)
  .map-box__map
    height: 402px
    background-image: url(../img/bg-map-tablet@1x.png)

    @media (min-resolution: $retina-dppx)
      background-image: url(../img/bg-map-tablet@2x.png)

@media (min-width: $desktop-width)
  .map-box__map
    height: 398px
    background-image: url(../img/bg-map-desktop@1x.png)

    @media (min-resolution: $retina-dppx)
      background-image: url(../img/bg-map-desktop@2x.png)
