@import variables

.box-range
  margin: 0
  padding: 0

  background-color: #f2f2f2

  text-align: center

.box-range__image
  height: 236px
  margin-bottom: 23px

.box-range__controls
  display: flex
  justify-content: space-between
  padding-right: 18.44%
  padding-left: 20%

.box-range__text
  margin: 0
  margin-bottom: 35px
  padding: 0

  font-size: 16px
  font-weight: 400
  line-height: 20px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #111111

.box-range__range
  width: 42.3%

@media (min-width: $tablet-width)
  .box-range
    height: 462px

  .box-range__image
    position: absolute

  .box-range__controls
    padding-top: 367px
    padding-right: 13.02%
    padding-left: 12.8%

  .box-range__text
    font-size: 20px
    padding-bottom: 6px

    border-bottom: 1px dotted #b8b8b8

  .box-range__range
    width: 75.44%

@media (min-width: $desktop-width)
  .box-range
    width: auto
    flex-grow: 1

  .box-range__image
    position: absolute

  .box-range__controls
    padding-right: 12.25%
    padding-left: 23.8%

  .box-range__text
    margin-bottom: 0



