@import variables

.container-form
  margin: 0
  padding: 0

.container-form__box
  display: flex
  flex-direction: column

.container-form__title
  margin: 0
  margin-top: 16px
  margin-bottom: 25px
  padding: 0

  font-size: 36px
  font-weight: 400
  line-height: 60px
  font-family: Oswald, Arial, sans-serif
  color: #111111

.container-form__text
  width: 81.4%
  margin: 0
  margin-bottom: 39px
  padding: 0

  font-size: 14px
  font-weight: 400
  line-height: 18px
  font-family: Oswald, Arial, sans-serif
  text-transform: uppercase
  color: #111111

.container-form--btn
  width: 100%
  padding: 10px
  padding-left: 13px
  margin: 0 auto
  margin-bottom: 22px

  font-size: 16px
  line-height: 20px

  border: none

.container-form__small-text
  display: block
  margin: 0
  margin-bottom: 32px
  padding: 0

  font-size: 14px
  font-weight: 400
  line-height: 15px
  font-family: Arial, sans-serif
  color: #444444

  text-align: center

@media (min-width: $tablet-width)
  .container-form__title
    margin-top: 29px
    margin-bottom: 55px

    font-size: 60px

  .container-form__text
    width: 46%
    margin-bottom: 65px
    margin-left: 40px

    font-size: 20px
    line-height: 30px

  .container-form__box-btn
    display: flex
    align-items: center

    margin-bottom: 72px

  .container-form--btn
    width: 40%
    max-height: 55px
    padding: 16px
    padding-left: 11px
    margin: 0
    margin-bottom: 0
    margin-left: 5.8%

    font-size: 20px

  .container-form__small-text
    margin-bottom: 3px
    margin-left: 8.6%

    font-size: 16px
    line-height: 16px

@media (min-width: $desktop-width)
  .desktop-form-group-flex
    display: flex
    flex-direction: row
    justify-content: space-between

    margin-bottom: 49px

  .container-form__title
    margin-top: 19px

  .container-form__text
    width: 28%
    margin-left: 0

  .container-form__box-btn
    margin-bottom: 83px

  .container-form--btn
    width: 46.55%
    padding-left: 16px
    margin-left: 1px

  .container-form__small-text
    margin-left: 6.76%
