@import variables

.wrapper
  padding: 0
  margin-top: 0
  margin-right: 6.25%
  margin-bottom: 0
  margin-left: 6.25%

@media (min-width: $tablet-width)
  .wrapper
    margin-right: 3.9%
    margin-left: 3.9%

@media (min-width: $desktop-width)
  .wrapper
    margin-right: 7.64%
    margin-left: 7.64%
