@font-face
  font-family: "Oswald"
  src: url('../fonts/oswaldmedium.woff') format("woff")
  src: url('../fonts/oswaldmedium.woff2') format("woff2")
  src: url('../fonts/oswaldregular.woff') format("woff")
  src: url('../fonts/oswaldregular.woff2') format("woff2")
  font-weight: 400


@import "blocks/wrapper.sass"
@import "blocks/header.sass"
@import "blocks/main-index.sass"
@import "blocks/section-page.sass"
@import "blocks/button-link.sass"
@import "blocks/section-box-program.sass"
@import "blocks/section-advantages.sass"
@import "blocks/footer.sass"
@import "blocks/catalog-main.sass"
@import "blocks/catalog-list.sass"
@import "blocks/item-more.sass"
@import "blocks/section-article.sass"
@import "blocks/section-box-renge.sass"
@import "blocks/section-address-box.sass"
@import "blocks/catalog-aside-box.sass"
@import "blocks/section-container-form.sass"
@import "blocks/form-container-form__box.sass"

body
  margin: 0
  padding: 0

.visually-hidden
  position: absolute

  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap

  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden

